
$font1: 'Roboto', sans-serif
$font2: 'Montserrat', sans-serif

$color1: #000
$color2: #fff
$color3: #E5E5E5

$unit: px

// $width: 1440

// $breakpoints: 1150px, 1024px, 768px, 414px, 320px

$blockWidth: 1920px

