footer.footer
  .footer--inner
    ul.footer--top
      a(href="http://", target="_blank").footer--top-item Дисклеймер
      a(href="http://", target="_blank").footer--top-item Лицензии
      a(href="http://", target="_blank").footer--top-item Карта сайта
    .footer--bottom <span>© 2019 ЗАО «Криогаз» Россия, 196128,</span> <span>г. Санкт-Петербург, а/я 100.</span>
