.project
  .project--inner(data-tabs-wrapper = "0")
    .tab--buttons
      .tab--button.active-button(data-button = "left") 
      .tab--button.tab--button-right(data-button = "right")
    .project--tabs
      .project--tab.active-tab(data-tab)
        .tab--left
          .tab--title ПРОЕКТЫ
          .tab--char Крупнейшие реализованные проекты
          .tab--text В начале 2007 года завершено строительство системы газификации СПГ СХПР-5-63/0,6-1000, входящей в состав комплекса энергоснабжения Терминала по перегрузки светлых нефтепродуктов в Морском торговом порту г. Приморск.
        .tab--right
      .project--tab(data-tab)
        .tab--left
          .tab--title ПРОЕКТЫ
          .tab--char Средние реализованные проекты
          .tab--text В начале 2007 года завершено строительство системы газификации СПГ СХПР-5-63/0,6-1000, входящей в состав комплекса энергоснабжения Терминала по перегрузки светлых нефтепродуктов в Морском торговом порту г. Приморск.
        .tab--right
      .project--tab(data-tab)
        .tab--left
          .tab--title ПРОЕКТЫ
          .tab--char Мельчайшие реализованные проекты
          .tab--text В начале 2007 года завершено строительство системы газификации СПГ СХПР-5-63/0,6-1000, входящей в состав комплекса энергоснабжения Терминала по перегрузки светлых нефтепродуктов в Морском торговом порту г. Приморск.
        .tab--right
