.news
  .news--inner
    .news--top
      .top--left
        .top--title НОВОСТИ
        .top--char Актуальные события
      .top--button.button ВСЕ НОВОСТИ
    .news--articles
      article.news--article
        .article--item.article--pic
        .article--item.article--date 26/10/2019
        .article--item.article--title Реализации проекта строительства 
        .article--item.article--text 17 июня 2016 г. в рамках XX Петербургского международного экономического форума, между правительством Ленинградской области и руководством ЗАО «Криогаз» состоялось 
        .article--item.article--button.button ПОДРОБНЕЕ
      article.news--article
        .article--item.article--pic
        .article--item.article--date 26/10/2019
        .article--item.article--title Реализации проекта строительства 
        .article--item.article--text 17 июня 2016 г. в рамках XX Петербургского международного экономического форума, между правительством Ленинградской области и руководством ЗАО «Криогаз» состоялось 
        .article--item.article--button.button ПОДРОБНЕЕ
      article.news--article
        .article--item.article--pic
        .article--item.article--date 26/10/2019
        .article--item.article--title Реализации проекта строительства 
        .article--item.article--text 17 июня 2016 г. в рамках XX Петербургского международного экономического форума, между правительством Ленинградской области и руководством ЗАО «Криогаз» состоялось 
        .article--item.article--button.button ПОДРОБНЕЕ