.header
  position: relative
  color: $color2
  border-bottom: 1px solid $color2
  .header--inner
    padding: 35px 0
    display: flex
    justify-content: space-between
    +block(1110)
    .header--logo
      width: 148px
      height: 43px
    .header--menu
      font-family: $font2
      font-size: 13px
      display: flex
      align-items: center
      .menu--item
        padding: 2px 20px 2px 0
        height: 20px
    .header--contact
      font-size: 12px
      text-align: right
      display: flex
      flex-direction: column