header.header
  .header--inner
    .header--item.header--logo
      img(src="images/logo.svg", alt="КриоГаз")
    nav.header--item.header--menu
      .menu--item Главная
      .menu--item О компании
      .menu--item Решения
      .menu--item Реализованные проекты
      .menu--item Контакты
    .header--item.header--contact
      a.tel(href="tel:+78123837070") +7 (812) 383-70-70
      a.mail(href="mailto:cryogas@cryogas.ru") cryogas@cryogas.ru
       